# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [2]:
# Check if g_key is correct
print(g_key)

AIzaSyD8TFipgHFHsPKXP3Rph6e-jVy9vXyYue4

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
csv_path = "../WeatherPy/output/cities.csv"

cities_data = pd.read_csv(csv_path)
del cities_data['Unnamed: 0']
cities_data.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Severo-Kuril'sk,50.6789,156.1250,27.86,89,98,9.98,RU,1612925460
1,Atuona,-9.8000,-139.0333,79.39,77,33,18.19,PF,1612925460
2,Riyadh,24.6877,46.7219,49.33,57,0,2.30,SA,1612925283
3,Torbay,47.6666,-52.7314,28.13,86,90,29.93,CA,1612925460
4,Kahului,20.8947,-156.4700,70.54,46,40,17.27,US,1612925461

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = cities_data[["Latitude", "Longitude"]].astype(float)


humidity = cities_data["Humidity"].astype(float)

In [6]:
humidity_heatmap = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=100, 
                                 point_radius=1)

humidity_heatmap.add_layer(heat_layer)

humidity_heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
narrowed_cities_df = cities_data.loc[(cities_data["Max Temperature"] > 70) 
                              & (cities_data["Max Temperature"] < 80) & 
                              (cities_data["Cloudiness"] == 0), :]

narrowed_cities_df = narrowed_cities_df.dropna(how='any')
narrowed_cities_df.reset_index(inplace=True)
del narrowed_cities_df['index']
narrowed_cities_df.head()

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,New Norfolk,-42.7826,147.0587,70.09,38,0,1.01,AU,1612925461
1,Pisco,-13.7000,-76.2167,70.90,78,0,8.05,PE,1612925471
2,Carnarvon,-24.8667,113.6333,78.80,73,0,25.32,AU,1612925431
3,Saint-Philippe,-21.3585,55.7679,75.76,61,0,3.44,RE,1612925463
4,East London,-33.0153,27.9116,70.36,85,0,2.86,ZA,1612925490

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df = narrowed_cities_df.loc[:, ['City', 'Country', 'Latitude', 'Longitude']]
hotel_df["Hotel Name"] = ""

hotel_df.head()

             City Country  Latitude  Longitude Hotel Name
0     New Norfolk      AU  -42.7826   147.0587
1           Pisco      PE  -13.7000   -76.2167
2       Carnarvon      AU  -24.8667   113.6333
3  Saint-Philippe      RE  -21.3585    55.7679
4     East London      ZA  -33.0153    27.9116

In [36]:
radius = 5000

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {'type': 'hotel',
         'keyword': 'hotel',
         'radius': radius,
         'key': g_key}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]

    location = row['City']
    params['location'] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {location}")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {location} is {results[0]['name']}")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 0: New Norfolk
Closest hotel in New Norfolk is The Woodbridge
------------
Retrieving Results for Index 1: Pisco
Closest hotel in Pisco is Apart Hotel Sol de Paracas
------------
Retrieving Results for Index 2: Carnarvon
Closest hotel in Carnarvon is The Gascoyne Hotel
------------
Retrieving Results for Index 3: Saint-Philippe
Closest hotel in Saint-Philippe is Les Embruns Du Baril
------------
Retrieving Results for Index 4: East London
Closest hotel in East London is Blue Lagoon Hotel
------------
Retrieving Results for Index 5: Salalah
Closest hotel in Salalah is HYATT SALALAH HOTEL
------------
Retrieving Results for Index 6: Digha
Closest hotel in Digha is Amantran Resort
------------
Retrieving Results for Index 7: Chilca
Closest hotel in Chilca is LA CASA DE DON JOAQUIN
------------
Retrieving Results for Index 8: Meiktila
Closest hotel in Meiktila is The Floral Breeze Wunzin Hotel
------------
Retrieving Results for Index 9: Sittwe
Closest hotel in Sittwe is Hotel Memory
------------
Retrieving Results for Index 10: Puerto Cabezas
Closest hotel in Puerto Cabezas is Hotel Liwa Mairin
------------
Retrieving Results for Index 11: Tchaourou
Closest hotel in Tchaourou is SAFIR HOTEL
------------

In [37]:
hotel_df.head()

             City Country  Latitude  Longitude                  Hotel Name
0     New Norfolk      AU  -42.7826   147.0587              The Woodbridge
1           Pisco      PE  -13.7000   -76.2167  Apart Hotel Sol de Paracas
2       Carnarvon      AU  -24.8667   113.6333          The Gascoyne Hotel
3  Saint-Philippe      RE  -21.3585    55.7679        Les Embruns Du Baril
4     East London      ZA  -33.0153    27.9116           Blue Lagoon Hotel

In [35]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [38]:
# Add marker layer ontop of heat map
marker = gmaps.marker_layer(locations, info_box_content = hotel_info)
humidity_heatmap.add_layer(marker)

# Display figure
humidity_heatmap

Figure(layout=FigureLayout(height='420px'))